body {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 14px;
line-height: 1.42857143;
color: #333;
background-color: #fff;
}
.jumbotron
{
	padding-left:0 !important;
	padding-right:0 !important;
}

.clipboard
{
	float:right;
}

.cleaner
{
	clear:both;
}
h2.title{
font-size: 15px;
font-weight: bold;
}
.list-group  p
{
	font-size: 15px;
}
div.main{
	border-bottom: 1px solid #000;
}
.list-group li
{
	word-wrap: break-word;
}