@media onlyscreen and (max-width: 767px) {


	ul {
		list-style: disc; }

		ul, ol {
			margin-bottom: 10px; }
			ul ul, ul ol, ol ul, ol ol {
				margin-bottom: 5px; }

				li {
					margin-left: 20px;
					line-height: 1.5; }
				}