//h1 Welcome to Harp.
//h3 This is yours to own. Enjoy.
#container.col
 ul#nav
   li#selected
    a(href="#") Home
   li
    a(href="#") Contactus
   li
    a(href="#") Ispum
   li
    a(href="#") Sitemap
   li
    a(href="#") Events
   li
    a(href="#") Booking
   li
    a(href="#") Location
   li
    a(href="#") Aboutus
 
 // Slider Menu
 .slider
  ul.bxslider
   li
    img(src="/assets/images/tree_root.jpg",title="Funky roots")
   li
    img(src="/assets/images/hill_road.jpg",title="The long and winding road")
   li
    img(src="/assets/images/trees.jpg",title="Happy trees")
