 /* ============= */
 /* = RESET CSS = */
 /* ============= */

 body, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 abbr, address, cite, code,
 del, dfn, em, img, ins, kbd, q, samp,
 small, strong, sub, sup, var,
 b, i, a,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, dialog, figure, footer, header,
 hgroup, menu, nav, section,
 time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

h1, h2, h3, h4, h5, h6 {
  font-weight:normal;
}                     

body {
  line-height:1;
}

article, aside, dialog, figure, footer, header,
hgroup, nav, section {
  display:block;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

ins, mark {
  text-decoration:none;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

input, select {
  vertical-align:middle;
}
/* ========== */
/* = LAYOUT = */
/* ========== */
html, button, input, select, textarea {
 font-family: sans-serif;
 color: #222;
}
body {
 margin: 0;
 font-size: 1em;
 line-height: 1.4;
}

/* ================== */
/* = SECTION STYLES = */
/* ================== */ 

/*
* Container Style
*/
.container
{
  margin: 0px auto;
  padding: 0px 20px;
  max-width:1000px;
}
.site-logo
{
  background: url('../images/sap-logo.png') no-repeat scroll 0 0 transparent;
  height: 48px;
  width: 48px;
  overflow: hidden;
  text-indent: -1000em;
}
body header[role="banner"] .site-logo,body header[role="banner"] .site-htext
{
  display: inline-block;
}

.container aside{
  text-align:left;
  width:200px;
}
.container section
{
  width:780px;
}


/*===================
 * Block CSS
 *===================/

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
* `contenteditable` attribute is included anywhere else in the document.
* Otherwise it causes space to appear at the top and bottom of elements
* that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
* `:before` to contain the top-margins of child elements.
*/
.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}
.left{
  float:left;
}
.right{
  float:right;
}


/*
 *Links
 *
 */

 a {
   color: #00e;
 }
 a:visited {
   color: #551a8b;
 }
 a:hover {
   color: #06e;
 }
 a:focus {
   outline: thin dotted;
 }

 a:hover, a:active {
   outline: 0;
 }
 /* ========== */
 /* = Lists = */
 /* ========== */

 ul {
   margin: 1em 0;
   padding: 0 0 0 40px;
 }
 ul {
   list-style: none;
   list-style-image: none;
   margin: 0;
   padding: 0;
 }
 /* ========== */
 /* = Tables = */
 /* ========== */

 table {
   border-collapse: collapse;
   border-spacing: 0;
 }
 td {
   vertical-align: top;
 }

